<!--
<div class="container" style="width:20%;margin-top: 10%">
  <form  #loginForm="ngForm" (ngSubmit)="login()">
    <div class="form-group ">
      <label>Name</label>
      <input type="email" class="form-control" required [(ngModel)]="loginInfo.name" name="loginId">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" class="form-control" #password required
             [(ngModel)]="loginInfo.password" name="password">
    </div>
    <div class="forgetmenot pull-left">
      <label for="rememberme"><input name="rememberme" id="rememberme" value="forever" type="checkbox">Remember Me</label>
    </div>
    <div class="submit pull-right">
      <button type="submit" class="btn btn-primary"
              [disabled]="!loginForm.form.valid"
              value="Login" name="loginButton">Login
      </button>
    </div>
    <span class="clearfix"></span>
  </form>
</div>
-->


<!--
<form  [formGroup]="userForm" (ngSubmit)="onSubmit()" >
  <input type="text" fromControlName="name" placeholder="Name">
  <input type="text" fromControlName="email" placeholder="Email">
  <input type="text" fromControlName="password" placeholder="Password">
  <input type="text" fromControlName="confirmPassword" placeholder="Confirm password">
  <input type="text" fromControlName="phoneNumber" placeholder="Phone Number">

  <input type="text" fromControlName="answer" placeholder="Answer">
  <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>
<p>Form Values:{{userForm.value||json}}</p>
-->

<div class="container">

  <h2>Registration Form</h2>

  <form #userform="ngForm" (ngSubmit)="register(userform.value)" novalidate>

    <div class="names">
      <label>Name</label>
      <input type="text" [ngModel]="user.name" #nameRef="ngModel" minlength="3" maxlength="30" class="form-control"
             name="name" ngModel
             required #name><br><br>
      <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)">
        <div [hidden]="!nameRef.errors.required" style="color: red;">
          Please enter name
        </div>
        <div [hidden]="!nameRef.errors.minlength">
          Name should be at least of length 3
        </div>
        <div [hidden]="nameRef.errors.maxlength">
          Name must be of length 30 characters
        </div>
      </div>
    </div>
    <div>
      <label>Email</label>
      <input type="text" class="form-control" name="email" ngModel
             required #emailRef [ngModel]="user.email"
             pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"><br><br>

      <small [hidden]="emailRef.errors || (emailRef.pristine && !userform.submitted)" class="text-danger">
        Email is required and format should be <i>kmi@mail.com</i>.
      </small>

    </div>
    <div class="names">
      <label>Password </label>&nbsp;
      <input type="password" class="form-control" name="password" [ngModel]="user.password" ngModel required
             #passRef><br><br>
    </div>
    <div class="names">
      <label>Confirm password </label>
      <input type="password" class="form-control" name="confirmPassword" ngModel required #confirmPassRef><br><br>

      <span [hidden]="passRef.value==confirmPassRef.value" style="color: red;">
        Password doesn't match!
      </span>
    </div>
    <div>
      <label>Phone No</label>&nbsp;
      <input type="text" class="form-control" name="phoneNumber" ngModel [ngModel]="user.phoneNumber" required #phoneno><br><br>
    </div>
    <div>
      <label>Security Question</label>
      <select class="form-control" name="question" ngModel required #question [ngModel]="user.securityQuestion">
        <option value="What is your pincode?">What is your pincode?</option>
        <option value="What is your mother's maiden name?">What is your mothers maiden name?</option>
        <option value="What is best friend's name?">What is best friend's name?</option>
      </select><br><br><br>

    </div>
    <label>Answer</label>&nbsp;
    <input type="text" class="form-control" name="answer" ngModel required #answer [ngModel]="user.answer"><br><br>

    <button [disabled]="!userform.form.valid" type="submit" class="btn">Submit</button>
  </form>

</div>
