<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home" style="color: red">Olx-Seller</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a>Home</a></li>
      <li><a>Services</a></li>
      <li><a>About us</a></li>
      <li><a href="/login">Login</a></li>

    </ul>
  </div>
</nav>


<div class="container">

  <h2>Registration Form</h2>

  <form #userform="ngForm" (ngSubmit)="register(userform.value)" novalidate>

    <div class="names">
      <label>Name</label>
      <input type="text" [ngModel]="user.name" #nameRef="ngModel"
             minlength="3" maxlength="20" class="form-control"
             pattern="[a-zA-Z][a-zA-Z ]+"
             name="name" ngModel required><br><br>
      <div *ngIf="nameRef.invalid && (nameRef.dirty || nameRef.touched)"
           class="alert alert-danger">
        <div *ngIf="nameRef.errors.required" style="color: red;">
          Please enter name
        </div>
        <div *ngIf="nameRef.errors.minlength">
          Name should be at least of length 3
        </div>
        <div *ngIf="nameRef.errors.pattern">
          Invalid name
        </div>
      </div>

    </div>
    <div>
      <label>Email</label>
      <input type="text" class="form-control" name="email" ngModel
             required #emailRef="ngModel" [ngModel]="user.email"
             pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"><br><br>
      <div *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)"
           class="alert alert-danger">
        <div *ngIf="emailRef.errors.required" style="color: red;">
          Please enter email
        </div>
        <div *ngIf="emailRef.errors.pattern">
          Invalid email
        </div>
      </div>

    </div>
    <div class="names">
      <label>Password </label>&nbsp;
      <input type="password" class="form-control" name="password" [ngModel]="user.password" ngModel required
             #passRef="ngModel" minlength="6" maxlength="30"><br><br>
      <div *ngIf="passRef.invalid && (passRef.dirty || passRef.touched)"
           class="alert alert-danger">
        <div *ngIf="passRef.errors.required" style="color: red;">
          Please enter password
        </div>
        <div *ngIf="passRef.errors.minlength">
          Enter minimum 6 characters
        </div>
      </div>
    </div>
    <div class="names">
      <label>Confirm password </label>
      <input type="password" class="form-control" name="confirmPassword" ngModel required #confirmPassRef><br><br>

      <span [hidden]="passRef.value==confirmPassRef.value" style="color: red;">
        Password doesn't match!
      </span>
    </div>
    <div>
      <label>Phone No</label>&nbsp;
      <input type="text" class="form-control" name="phoneNumber" ngModel
             [ngModel]="user.phoneNumber" required #phonenoRef="ngModel" pattern="[0-9]*"
             minlength="10" maxlength="10"><br><br>
      <div *ngIf="phonenoRef.invalid && (phonenoRef.dirty || phonenoRef.touched)"
           class="alert alert-danger">
        <div *ngIf="phonenoRef.errors.required" style="color: red;">
          Please phone number
        </div>
        <div *ngIf="phonenoRef.errors.pattern">
          Invalid phone number
        </div>
      </div>
    </div>
    <div>
      <label>Security Question</label>
      <select class="form-control" name="question" ngModel required #question [ngModel]="user.securityQuestion">
        <option value="What is your pincode?">What is your pincode?</option>
        <option value="What is your mother's maiden name?">What is your mothers maiden name?</option>
        <option value="What is best friend's name?">What is best friend's name?</option>
      </select><br><br><br>

    </div>
    <label>Answer</label>&nbsp;
    <input type="text" class="form-control" name="answer" ngModel required #answer [ngModel]="user.answer"><br><br>

    <button [disabled]="!userform.form.valid" type="submit" class="btn">Submit</button>
  </form>

</div>
