<div class="container" style="width:20%;margin-top: 10%">
  <form  #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
    <div class="form-group ">
      <label>Email</label>
      <input type="email" class="form-control" required [(ngModel)]="userLogin.email" name="loginId">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" class="form-control" #password required
             [(ngModel)]="userLogin.password" name="password">
    </div>
    <div class="forgetmenot pull-left">
      <label for="rememberme"><input name="rememberme" id="rememberme" value="forever" type="checkbox">Remember Me</label>
    </div>
    <div class="submit pull-right">
      <button type="submit" class="btn btn-primary"
              [disabled]="!loginForm.form.valid"
              value="Login" name="loginButton">Login
      </button>
    </div>
    <span class="clearfix"></span>
  </form>
</div>
