<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Olx-Seller</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a >Services</a></li>
      <li><a >About us</a></li>
      <li *ngIf="user"><a >Welcome {{user.seller_name}}</a></li>
      <li *ngIf="user"><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
<!--<router-outlet></router-outlet>-->
