<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: red;font-family: Ubuntu">Sell<i>it</i>.com</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a>Services</a></li>
      <li><a>About us</a></li>
      <li *ngIf="username"><a>Welcome {{username}}</a></li>
      <li *ngIf="username"><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
<!--<router-outlet></router-outlet>-->
