<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Olx-Seller</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a>Services</a></li>
      <li><a>About us</a></li>
      <li *ngIf="user"><a>Welcome {{user.seller_name}}</a></li>
      <li *ngIf="user"><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li><a routerLink="/home/products" routerLinkActive="active" data-toggle="tab">
      All Products
    </a>
    </li>
    <li><a routerLink="/home/search" routerLinkActive="active" data-toggle="tab">
      Search Products
    </a>
    </li>
    <li class="active"><a class="active" routerLink="/home/my-produts" routerLinkActive="active" data-toggle="tab">
      My Products
    </a>
    </li>
  </ul>
</div>

<div class="container" style="margin-top: 2%;width: 50%">
  <ul class="list-group" id="products">
    <li class="list-group-item" id="items" *ngFor="let product of myProducts">
      <h2>{{product.title}}</h2>
      <h2>&#8377; {{product.price}}</h2>
      <h4>Model: {{product.model}}</h4>
      <h4>Posted on: {{product.postedOn}}</h4>
      <button class="btn btn-info pull-right" (click)="gotoMyProductDetail(product.product_id)">View Details</button>
      <br/><br/><br/>
    </li>
  </ul>
</div>

