<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Olx-Seller</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a >Services</a></li>
      <li><a >About us</a></li>
      <li *ngIf="user"><a >Welcome {{user.seller_name}}</a></li>
      <li *ngIf="user"><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li><a  routerLink="/home/products" routerLinkActive="active" data-toggle="tab">
      All Products
    </a>
    </li>
    <li class="active"><a routerLink="/home/search" routerLinkActive="active" data-toggle="tab">
      Search Products
    </a>
    </li>
    <li><a routerLink="/home/my-products" routerLinkActive="active" data-toggle="tab">
      My Products
    </a>
  </ul>
</div>

<div class="container" style="margin-left: 25%;margin-top: 2%">
<form class="navbar-form" #searchForm="ngForm" (ngSubmit)="searchProduct(searchForm.value)"  novalidate>
  <div>
    <input class="form-control input-lg" type="text" name="title" [ngModel]="searchInput.title" ngModel required placeholder="Search Products...">

        <select class=" input-lg" id="soflow" name="catId" [ngModel]="searchInput.catId" ngModel required>
          <option value="1">Cars</option>
          <option value="2">Mobiles</option>
          <option value="3">Bikes</option>
          <option value="4">Books</option>
        </select>

    <button class="btn btn-default btn-lg" type="submit" [disabled]="!searchForm.form.valid"><i class="glyphicon glyphicon-search"></i>Search</button>
  </div>
</form>
</div>
<br/>

<div class="container" style="margin-top: 2%;width: 50%">
  <ul class="list-group" id="products">
    <li class="list-group-item" id="items" *ngFor="let product of returnedProducts | paginate: { itemsPerPage: 3, currentPage: p }">
      <h3>{{product.title}}</h3>
      <h3>&#8377; {{product.price}}</h3>
      <h4>Model: {{product.model}}</h4>
      <h4>Posted on: {{product.postedOn | date}}</h4>
      <button class="btn btn-info pull-right" (click)="gotoDetail(product.product_id)">View Details</button>
      <br/>
      <br/>
      <br/>
    </li>
  </ul>
  <pagination-controls (pageChange)="this.p = $event"></pagination-controls>
</div>
