<!--
<hr>
<h4>{{product.title}} Detail</h4>
<div>Id: {{product.id}}</div>
<div>Name:
  <input [(ngModel)]="product.price">
</div>
<div>Category<input [(ngModel)]="product.category_name></div>

-->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Olx-Seller</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a >Services</a></li>
      <li><a >About us</a></li>
      <li *ngIf="user"><a >Welcome {{user.seller_name}}</a></li>
      <li *ngIf="user"><a>Logout</a></li>
    </ul>
  </div>
</nav>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li><a  routerLink="/home/products" routerLinkActive="active" data-toggle="tab">
      All Products
    </a>
    </li>
    <li ><a  routerLink="/home/search" routerLinkActive="active" data-toggle="tab">
      Search Products
    </a>
    </li>
    <li><a routerLink="/home/my-products" routerLinkActive="active" data-toggle="tab">
      My Products
    </a>
  </ul>
</div>

<div *ngIf="product" class="container-fluid" style="width:50%;margin-top: 30px">

  <table>
    <tr>
      <th>Title</th>
      <th>{{product.title}}</th>
    </tr>
    <tr>
      <td>Category</td>
      <td>{{product.category_name}}</td>
    </tr>
    <tr>
      <td>Price</td>
      <td>&#8377; {{product.price}}</td>
    </tr>
    <tr>
      <td>Model</td>
      <td>{{product.model}}</td>
    </tr>
    <tr>
      <td>Old/New</td>
      <td>{{product.old_or_new}}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{product.description}}</td>
    </tr>
    <tr>
      <td>Posted on</td>
      <td>{{product.postedOn | date }}</td>
    </tr>
    <tr>
      <td>Seller details</td>
      <td>Name: {{product.seller_name}}<br/>
          Contact: {{product.phone_no}}<br/>
          Email: {{product.email}}</td>
    </tr>

  </table>
  <br/>
  <button class="btn pull-right" (click)="goBack()">Go Back</button>
</div>
