<div class="tabbable" >
  <ul class="nav nav-tabs">
    <li class="active"><a  routerLink="/products" routerLinkActive="active" data-toggle="tab">
      All Products
    </a>
    </li>
    <li><a routerLink="/home/search" routerLinkActive="active" data-toggle="tab">
      Search Products
    </a>
    </li>
  </ul>
</div>
<div class="container" style="margin-top: 2%">
<ul class="list-group" id="products">
  <li class="list-group-item" id="items" *ngFor="let product of products" (click)="selectProduct(product)">
    {{product.title}}
  </li>
</ul>

<div *ngIf="selectedProduct" class="selectedProduct">
  <h2>
    {{selectedProduct.title}}
  </h2>
  <h3>
    Price: &#8377; {{selectedProduct.price}}
  </h3>
  <button class="btn" (click)="gotoDetail(selectedProduct.product_id)">
    View Details
  </button>
</div>
</div>
